<form action="/handle-program-attendance/?page={{ request.GET.page }}" method="post">
    {% csrf_token %}

<input type="hidden" name="program_id" value="{{ program.id }}">
<input class="button is-primary" type="submit" value="Remove Selected Members">

<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>Remove</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Reg.No</th>
            <th>M.Type</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for member in member_attended %}
            <tr>
                <td>
                    <input
                    type="checkbox"
                    class="checkbox"
                    name="remove_members"
                    value="{{ member.id }}">
                </td>
                <td>
                    {% if member.avatar %}
                        <img width="50px" src="{{ member.avatar.url }}" alt="{{ member.name }}">
                    {% else %}
                        <img width="50px" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    {% endif %}
                </td>
                <td>{{ member.name }}</td>
                <td>{{ member.phone }}</td>
                <td>{{ member.registration_no }}</td>
                <td>{{ member.member_type }}</td>
                <td>{{ member.gender }}</td>
                <td>
                    {% if member.status == True %}
                        <span class="has-text-success"><i class="far fa-smile"></i></span>
                    {% else %}
                        <span class="has-text-warning"><i class="fas fa-praying-hands"></i></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>