{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}
{% block body %}
    <div class="member-section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="header">
                        <a href="{% url 'create_member' %}" class="button is-primary is-medium is-rounded is-pulled-right"><i class="fas fa-plus-circle"></i></a>
                    </div>

                    <div class="filter-section">
                        <form method="get">
                            {{ filter.form.as_p }}
                            <div class="member-create-submit">
                                <button class="button is-info" type="submit">Search</button>
                                <a class="button is-default" href="{% url 'members' %}">Reset</a>
                            </div>
                        </form>
                    </div>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Reg.No</th>
                                <th>Blood Group</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>
                                        {% if member.avatar %}
                                            <img width="50px" src="{{ member.avatar.url }}" alt="{{ member.name }}">
                                        {% else %}
                                            <img width="50px" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                        {% endif %}
                                    </td>
                                    <td>{{ member.name }}</td>
                                    <td>{{ member.phone }}</td>
                                    <td>{{ member.registration_no }}</td>
                                    <td>{{ member.blood_group }}</td>
                                    <td>
                                        {% if member.status == True %}
                                            <span class="has-text-success"><i class="far fa-smile"></i></span>
                                        {% else %}
                                            <span class="has-text-warning"><i class="fas fa-praying-hands"></i></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'detail_member' member.id %}">
                                            <span class="icon has-text-info">
                                                <i class="fas fa-eye"></i>
                                            </span>
                                        </a>
                                        {% if perms.people.change_member %}
                                            <a href="{% url 'update_member' member.id %}">
                                                <span class="icon has-text-info">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                        {% if perms.people.delete_member %}
                                            <a href="{% url 'delete_member' member.id %}">
                                                <span class="icon has-text-danger">
                                                    <i class="fas fa-minus-circle"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if members.has_other_pages %}
                        <nav class="pagination" role="navigation" aria-label="pagination">
                        {% if members.has_previous %}
                          <a class="pagination-previous" href="?page={{ members.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if members.has_next %}
                          <a class="pagination-next" href="?page={{ members.next_page_number }}">Next page</a>
                        {% endif %}

                          <ul class="pagination-list">
                              {% for i in members.paginator.page_range %}
                                  {% if members.number == i %}
                                    <li><a class="pagination-link is-current" aria-label="Goto page {{ i }}" aria-current="page">{{ i }}</a></li>
                                  {% else %}
                                      <li><a class="pagination-link" href="?page={{ i }}" aria-label="Goto page {{ i }}">{{ i }}</a></li>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}