{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}
{% block body %}
    <div class="member-section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="header">
                        <a href="{% url 'create_member' %}" class="button is-primary">Add new member</a>
                    </div>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>{{ member.name }}</td>
                                    <td>{{ member.phone }}</td>
                                    <td><a href="{% url 'update_member' member.id %}">Edit</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if members.has_other_pages %}
                        <nav class="pagination" role="navigation" aria-label="pagination">
                        {% if members.has_previous %}
                          <a class="pagination-previous" href="?page={{ members.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if members.has_next %}
                          <a class="pagination-next" href="?page={{ members.next_page_number }}">Next page</a>
                        {% endif %}

                          <ul class="pagination-list">
                              {% for i in members.paginator.page_range %}
                                  {% if members.number == i %}
                                    <li><a class="pagination-link is-current" aria-label="Goto page {{ i }}" aria-current="page">{{ i }}</a></li>
                                  {% else %}
                                      <li><a class="pagination-link" href="?page={{ i }}" aria-label="Goto page {{ i }}">{{ i }}</a></li>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}