{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}
{% block body %}
    <div class="member-section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="header">
                        <a href="{% url 'create_bank' %}" class="button is-primary is-medium is-rounded is-pulled-right"><i class="fas fa-plus-circle"></i></a>
                    </div>

                    <div class="filter-section">
                        <form method="get">
                            {{ filter.form.as_p }}
                            <div class="member-create-submit">
                                <button class="button is-info" type="submit">Search</button>
                                <a class="button is-default" href="{% url 'members' %}">Reset</a>
                            </div>
                        </form>
                    </div>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <tr>
                                <th>Bank Code</th>
                                <th>Distribution date</th>
                                <th>Collection date</th>
                                <th>Member</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bank in banks %}
                                <tr>
                                    <td>{{ bank.bank_code }}</td>
                                    <td>{{ bank.distribution_date }}</td>
                                    <td>{{ bank.collection_date }}</td>
                                    <td><a href="{% url 'detail_member' bank.member.pk %}">{{ bank.member.name }}</a></td>
                                    <td>{{ bank.amount }}</td>
                                    <td>
                                        {{ bank.status }}
                                    </td>
                                    <td>
                                        <a href="{% url 'detail_member' bank.id %}">
                                            <span class="icon has-text-info">
                                                <i class="fas fa-eye"></i>
                                            </span>
                                        </a>
                                        {% if perms.people.change_member %}
                                            <a href="{% url 'update_member' bank.id %}">
                                                <span class="icon has-text-info">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                        {% if perms.people.delete_member %}
                                            <a href="{% url 'delete_member' bank.id %}">
                                                <span class="icon has-text-danger">
                                                    <i class="fas fa-minus-circle"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if banks.has_other_pages %}
                        <nav class="pagination" role="navigation" aria-label="pagination">
                        {% if banks.has_previous %}
                          <a class="pagination-previous" href="?page={{ banks.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if banks.has_next %}
                          <a class="pagination-next" href="?page={{ banks.next_page_number }}">Next page</a>
                        {% endif %}

                          <ul class="pagination-list">
                              {% for i in banks.paginator.page_range %}
                                  {% if banks.number == i %}
                                    <li><a class="pagination-link is-current" aria-label="Goto page {{ i }}" aria-current="page">{{ i }}</a></li>
                                  {% else %}
                                      <li><a class="pagination-link" href="?page={{ i }}" aria-label="Goto page {{ i }}">{{ i }}</a></li>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}