{% extends 'layout/base.html' %}
{% load static %}

{% block extracss %}
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
{% endblock %}

{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <div class="column is-mobile">
            <nav class="breadcrumb is-small is-right" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'banks' %}">Matir Banks</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Bank</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="member-section member-section-form">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <div class="header">
                        <h2 class="title">{{ view_form_title }}</h2>
                    </div>

                    <form class="{{ form_type }}" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="member-create-submit">
                            <input class="button is-primary" type="submit">
                            <a class="button is-default" href="{% url 'banks' %}">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script  src="{% static 'js/app.js' %}"></script>
{% endblock %}