{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}
{% block body %}
<div class="member-section">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <form method="post">
                        {% csrf_token %}
                        <h2 class="title">Are you sure you want to delete the matir bank "{{ matirbank.name }}"?</h2>
                        <input class="button is-primary" type="submit" value="Confirm">
                        <a class="button is-default" href="{% url 'members' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}