{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <div class="column is-mobile">
            <nav class="breadcrumb is-small is-right" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'banks' %}">Matir Banks</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ matirbank.bank_code}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}

<div class="member-section">
    <div class="container">
        <div class="columns is-mobile">
          <div class="column">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                    <img class="is-rounded" width="50px" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Bank Code: {{ matirbank.bank_code}}</p>
                <p class="subtitle is-6">
                    <i class="far fa-envelope"></i> {{ matirbank.member.email }}
                    <br>
                    <i class="fas fa-mobile-alt"></i> {{ matirbank.member.phone }}
                    <br>
                    <br>
                    Amount: {{ matirbank.amount }}
                </p>
                <p class="title is-4"><a href="{% url 'update_bank' matirbank.id %}" class="button is-primary is-medium is-rounded is-pulled-right"><i class="fas fa-user-edit"></i></a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
            <div class="column">
                <div class="tabs">
                  <ul>
                    <li class="tab is-active" onclick="openTab(event,'History')"><a>History</a></li>
                  </ul>
                </div>
                <div class="container">
                    <div id="History" class="content-tab" >
                      <h3>Bank change history</h3>
                      <ul>
                          {% for history in bank_history %}
                            <li>Status: {{ history.status }} by {{ history.user.username }} on {{ history.created_on }}</li>
                          {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}