{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}
{% block body %}
<div class="member-section program-header-bg">
        <div class="container">
            <div class="columns">
                <div class="column is-mobile has-text-centered">
                    <p class="title is-4">{{ program.title}}</p>
                    <p class="subtitle is-6">{{ program.place}}</p>
                    <p><i class="fas fa-users"></i> <strong>85</strong> Members</p>
                    <p>
                        <i class="fas fa-female"></i></i> Female: <strong>55</strong>
                        &nbsp;&nbsp;
                        <i class="fas fa-male"></i> Male: <strong>30</strong>
                    </p>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column">
                    <div class="tabs">
                      <ul>
                        <li class="tab is-active" onclick="openTab(event,'Presence')"><a>Presence</a></li>
                        <li class="tab" onclick="openTab(event,'Absence')"><a>Absence</a></li>
                      </ul>
                    </div>
                    <div class="container">
                        <div id="Presence" class="content-tab" >
                          <p>
                            {{ member_attended }}
                          </p>
                        </div>
                        <div id="Absence" class="content-tab" style="display:none">
                            <form action="/handle-program-attendance/" method="post">
                                {% csrf_token %}

                                {% for member in members %}
                                    {{ member.name }} <input
                                        type="checkbox"
                                        class="checkbox"
                                        name="attendance"
                                        value="{{ member.id }}" {% if member.id in member_attended %} checked {% endif %}>
                                    <br>
                                {% endfor %}

                                <input type="hidden" name="program_id" value="{{ program.id }}">

                                <input class="button is-primary" type="submit" value="Add">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
{% endblock %}