{% extends 'layout/base.html' %}
{% block header %}
    {% include 'layout/partial/navigation.html' %}
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <div class="column is-mobile">
            <nav class="breadcrumb is-small is-right" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'programs' %}">Programs</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ program.title}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="member-section program-header-bg">
        <div class="container">
            <div class="columns">
                <div class="column is-mobile has-text-centered">
                    <p class="title is-4">{{ program.title}} - {{ program.date}}</p>
                    <p class="subtitle is-6">{{ program.place}}</p>
                    <div class="program-presence-calculation is-pulled-right">
                        <table class="table is-hoverable">
                            <thead>
                                <tr>
                                    <th>Presence</th>
                                    <th>Male</th>
                                    <th>Femlae</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pro-Master</td>
                                    <td>{{ program_history.total_promaster_male }}</td>
                                    <td>{{ program_history.total_promaster_female }}</td>
                                    <td>{{ program_history.total_promaster }}</td>
                                </tr>
                                <tr>
                                    <td>Graduate</td>
                                    <td>{{ program_history.total_graduate_male }}</td>
                                    <td>{{ program_history.total_graduate_female }}</td>
                                    <td>{{ program_history.total_graduate }}</td>
                                </tr>
                                <tr>
                                    <td>Associate</td>
                                    <td>{{ program_history.total_associate_male }}</td>
                                    <td>{{ program_history.total_associate_female }}</td>
                                    <td>{{ program_history.total_associate }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td>{{ program_history.total_male }}</td>
                                    <td>{{ program_history.total_female }}</td>
                                    <td>{{ program_history.total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column">
                    <div class="tabs">
                      <ul>
                        <li class="tab is-active" onclick="openTab(event,'Search')"><a>Search</a></li>
                        <li class="tab" onclick="openTab(event,'Presence')"><a>Presence</a></li>
                      </ul>
                    </div>
                    <div class="container">
                        <div id="Search" class="content-tab" >

                            {% include 'layout/partial/members.html' %}

                        </div>

                        <div id="Presence" class="content-tab" style="display:none">
                          {% include 'layout/partial/attended.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
{% endblock %}